
ul, li, body
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}
#progress_content_contain
{
  height:400px;
  display: flex;
  align-items: center;
}
.progress_inside
{
  text-align: center;
  width: 100%;
}
.progress_container
{
  display: inline-block;
}

.progress_item
{
  float: left;
  margin-right: 15px;
  position: relative;
}

.progress
{
  display: block;
  transform: rotate(-90deg);
  width: 84px;
  height: 84px;
}

.legend
{
  padding-top: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.percent
{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  line-height: 24px;
  text-align: center;
  transform: translateY(-50%);
}

.symb
{
  font-size: 10px;
}

.circle
{
  position: relative;

}

circle
{
  stroke: green;
  fill: none;
  stroke-width: 3px;
}

circle:nth-child(2)
{
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  transition: 1s;
}

circle:nth-child(1)
{
  stroke-opacity: 0.3;
}



.html_prog
{
  stroke-dashoffset: 36!important;
}
.css_prog
{
  stroke-dashoffset: 72!important;
}
.jquery_prog
{
  stroke-dashoffset: 120!important;
}
.php_prog
{  
  stroke-dashoffset: 144!important;
}
.adobe_prog
{
  stroke-dashoffset: 84!important;
}
