/*
Thème name: Campus Chartrons
Author: Félix
Description: none
Version: 0.0.1
Tags: none
*/



/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@font-face {
    font-family: "SF-Pro-Text";
    src: url("font/SF-Pro-Text-Light.otf");
    font-weight: 300;
}
@font-face {
    font-family: "SF-Pro-Text";
    src: url("font/SF-Pro-Text-LightItalic.otf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "SF-Pro-Text";
    src: url("font/SF-Pro-Text-Regular.otf");
    font-weight: 400;
}
@font-face {
    font-family: "SF-Pro-Text";
    src: url("font/SF-Pro-Text-RegularItalic.otf");
    font-weight: 400;
    font-style: italic;
}



/* VARIABLES */

:root {
    --main-color : #F38010;
    --main-color-opacity : #FEF2E7;
    --faq-color : #00A878;
    --faq-color-opacity : #F2FBF8;
    --text-color: #5A5A5A;
    --white: #fff;
    --btn-hover: #DF6C0A;
}



/* COMMONS */

*{box-sizing: border-box;}

html, body {
    margin: 0;
    padding: 0;
    font-family: "SF-Pro-Text", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}
ul,li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.inner {
    width: 95%;
    margin: auto;
    max-width: 1200px;
}

section {
    padding: 80px 0;
}

.--separator {
    position: relative;
}
.--separator::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    transform: translateX(-50%);
    bottom: 0;
    left: 50%;
    background: #EBEFF8;
}

/* headings */
h1, h2, h3, .labels {
    font-family: 'Vollkorn', serif;
    font-weight: 400;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 40px;
    margin:0 0 16px;
    
}
h3 {
    font-size: 20px;
}
h4 {margin: 0;}
h4.subtitle {
    font-size: 18px;
    margin: 0 0 8px;
}
.labels {
    color: var(--main-color);
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
    font-weight: 400;
} 

/* content */
p {
    margin: 0 0 24px;
    color: var(--text-color);
    line-height: 28px;
}

/* links */
a {
    /* color: var(--link-color); */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.arrow__link {
    position: relative;
    padding-right: 18px;
    transition: .5s ease;
}
.arrow__link:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 8px;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center center; 
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    transition: .3s ease;

}

.arrow__link:hover {
    text-decoration: none;
}

.arrow__link:hover:after {
    right: -5px;
}

/* BUTTONS */

.btn {
    display: inline-block;
    line-height: 60px;
    background: var(--main-color-opacity);
    color: var(--main-color);
    padding: 0 16px;
    font-size: 18px;
    border-radius: 4px;
    transition: .5s ease;
    font-weight: 400;
}
.btn:hover {
    color: #fff;
    background: var(--main-color);
    text-decoration: none;
}
.btn--faq {
    color: #fff;
    background: var(--faq-color);
}
.btn--faq:hover {
    background: #009167;
}

/* BACKGROUND IMAGE */

.--background_img .menu  .menu_primary{
    color: #fff;
}
.--background_img .menu .sub-active a:after {
    background-image: url(images/arrow_down--white.svg);
}
.--background_img .btn {
    background: var(--main-color);
    border: 0;
    color: #fff;
}
.--background_img .btn:hover {
    background: var(--btn-hover);
}
.--background_img .hero {
    width: 100%;
    height: 360px;
    background: url(images/deals.png) center center;
    background-size: cover;
}




/* FORMATED LIST */

.formated_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    margin-bottom: 40px;
}
.formated__link {
    color: initial;
}
.formated__link:hover {
    text-decoration: none;
}
.formated__item {
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    overflow: hidden;
    transition: .5s ease;
}
.formated__item:hover {
    transform: scale(1.05);
}
.formated__item__view {
    width: 100%;
    height: 195px;
    overflow: hidden;
    background: var(--main-color-opacity);
}
.formated__item__desc {
    padding: 16px;
}
.formated__infos {
    font-family: "SF-Pro-Text", sans-serif;
    font-weight: 300;
    line-height: 23px;
}
.formated__infos:last-child {
    margin-bottom: 0;
}


/* tags */
.tag_list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
.tag {
    font-size: 13px;
    line-height: 24px;
    padding: 0 8px;
    border-radius: 4px;
}
.tag--orange {
    background: var(--main-color-opacity);
    color: var(--main-color);
}



/* FAQ */

.faq { 
    background: var(--faq-color-opacity);
    padding: 60px 0;
}
.faq .inner {
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq .labels, .faq .arrow__link {
    color: var(--faq-color);
}
.faq .arrow__link::after {
    background-image: url(images/arrow.svg);
}

.faq__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 32px;
    margin: 40px 0;
}
.faq__item {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 2px 14px rgba(0, 168, 120, 0.1);
}
.faq__list .labels {
    margin-bottom: 8px;
}
.faq__answer {
    margin-bottom: 12px;
    line-height: 23px;
}





/* HEADER */
header {
    position: absolute;
    width: 100%;
    height: 90px;
    top: 0;
    z-index: 9999;
}
header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/*menu*/

.menu {
    display: flex;
    font-weight: 300;
    flex: 1;
}
 
.menu .menu-item a {
    padding: 24px 32px 24px 10px;
    color: #000;
    display: block;
    text-decoration: none;
}

.menu .sub-active:hover .sub-menu {
    transform: translate(10px, -14px);
    pointer-events: all;
    opacity: 1;
}
.menu .sub-active a{
    padding-right: 38px; 
    position: relative;
}
.menu .sub-active a:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: url(images/arrow_down.svg)center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    top: 50%;
    right: 22px;
}
.sub-menu {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(196, 196, 196, 0.3);
    border-radius: 8px;
    background: var(--white);
    transform: translate(10px, -24px);
    padding: 14px 0;
    transition: .5s ease;
}
.sub-menu:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: var(--white);
    border-left: 1px solid rgba(196, 196, 196, 0.3);
    border-top: 1px solid rgba(196, 196, 196, 0.3);
    transform: translateY(-50%) rotate(45deg);
    top: 0;
    left: 32px;
}
.menu .sub-menu a {
    padding: 10px;
}
.menu .sub-menu a:after {
    position: relative;
}
.menu .sub-menu a:hover {
    background: var(--main-color-opacity);
}

/* button */
header .btn {
    border: 2px solid var(--main-color-opacity);
    color: var(--main-color);
    background: #fff;
    line-height: 43px;
    font-size: 16px;
}
header .btn:hover {
    border-color: var(--main-color);
}



/* HOME PAGE */

#home {
    padding: 90px 0 0;
}

/* presentation */
.presentation {
    padding: 24px 0 50px ;
    margin: auto;
    position: relative;
    max-width: 1330px;
    width: 95%;
    border-radius: 2px;
    background: var(--main-color-opacity);
}
.presentation .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: 200;
}
.presentation .presentation__desc {
    width: calc(45% - 18px);
}
.presentation .presentation__view {
    width: calc(55% - 18px);
    background: var(--main-color-opacity);
    position: relative;
}
.presentation .presentation__view img{
    width: 100%;
    position: relative;
    -webkit-mask: url('images/test.png');
    mask: url('images/test.png');
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: center;
}
.presentation .presentation__view svg {
    width: 0;
    height: 0;
}
.presentation .presentation__view::after {
    content: "";
    position: absolute;
    background: url(images/form--red.svg) 100%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 12vw;
    max-width: 150px;
    height: 12vw;
    top: -20px;
    max-height: 150px;
}
.presentation .presentation__view::before {
    content: "";
    position: absolute;
    background: url(images/form--yellow.svg) 100%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 12vw;
    max-width: 150px;
    height: 12vw;
    max-height: 150px;
    bottom: 0;
    right: 0;
    z-index: 300;
}
.presentation .btn {
    background: var(--main-color);
    color: #fff;    
}
.presentation .btn:hover {
    background: var(--btn-hover);
}


/* partners */
.partners__content {
    position: relative;
    height: 72px;
}
.partners > p {
    text-align: center;
    margin-bottom: 60px;
    font-size: 20px;
}
.partners__list {
    display: flex;
    position: absolute;
}
.partners__item {
    display: flex;
    align-items: center;
    max-width: 220px;
    min-width: 220px;
    justify-content: space-between;
    margin: 0 28px;
}
.partners__view {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: var(--main-color-opacity);
    margin-right: 16px;
}
.partners__desc {
    width: calc(100% - 88px);
}
.partners__desc p {
    line-height: normal;
    font-size: 14px;
    color: #000;
    margin-bottom: 4px;
}
.partners__desc span {
    font-size: 12px;
    color: var(--text-color);
}



/* events */

.events .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events h2 {
    max-width: 670px;
    margin: 0 auto 60px;
    text-align: center;
}
.event_list--mini {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 11%;
    margin-bottom: 80px;
}

.event__item {
    display: flex;
    
}
.event_list--mini .event_date {
    margin-right: 40px;
}
.event_date {
    max-width: 95px;
    width: 100%;
    height: 105px;
    box-shadow: 0px 1.57143px 11px rgba(196, 196, 196, 0.3);
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    background: #fff;
}
.event_date .month {
    background-color:#F64A4A ; 
    color: #fff;
    padding: 8px 0;
    font-size: 13px;
    text-transform: uppercase;
}
.event_date .day {
    flex: 1;
    font-size: 54px;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 0px 1.57143px 11px rgba(196, 196, 196, 0.3);
    background: #fff;

}


.events .arrow__link {
    color: var(--main-color); 
}
.events .arrow__link::after {
    background-image: url(images/arrow--orange.svg);
}

/* benefit */
.benefit .inner {
    display: flex;
    flex-direction: column;
}
.benefit .labels, .benefit h2 {
    text-align: center;
}
.benefit h2 {
    margin-bottom: 48px;
}
.benefit .btn {
    align-self: center;
}



/* DEALS */

/* search bar */
.search_bar { 
    max-width: 615px;
    height: 60px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 16px;
    transform: translateY(-50%);
}
.search_bar input {
    flex: 1;
    height: 100%;
    border: none;
    border-right: 1px solid #E5E5E5;
    padding-left: 8px;
    font-size: 16px;
    color: #9E9E9E;
}
.search_bar select {
    border: none;
    height: 100%;
    cursor: pointer;
    color: #9E9E9E;
    padding: 0 16px;
    font-size: 16px;

}


/*FOOTER*/

footer {
    width: 100%;
}
.footer__list {
    background: #FCFCFC;    
    padding: 60px 0 100px
}
.footer__list .inner {
    display: flex;
    justify-content: flex-end;
}
.footer__item {
    margin-right: 95px;
}
.footer__item:last-child {
    margin: 0;
}
.footer__item h4 {
    margin-bottom: 16px;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    font-weight: 400;
}
.footer__item li {
    margin-bottom: 10px;
}
.footer__item li a{
    color: #5A5A5A;
    font-size: 16px;
    line-height: 23px;
}
.footer__bottom .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.footer__bottom p {
    margin: 0;
    color: #5A5A5A;
    font-size: 16px;
    line-height: 23px;
}
