@keyframes dash-data-v-bce30c5a{
  0%{stroke-dasharray:0, 1000;}
  to{stroke-dasharray:300, 1000;}
}
.path1[data-v-bce30c5a]{
  stroke-dasharray:0, 1000;
  animation:dash-data-v-bce30c5a 1s ease-out forwards;
  -webkit-animation-delay:.7s;
  animation-delay:.7s;
}
.path2[data-v-bce30c5a]{
  stroke-dasharray:0, 1000;
  -webkit-animation:dash-data-v-bce30c5a 3s ease-out forwards;
  animation:dash-data-v-bce30c5a 3s ease-out forwards;
  -webkit-animation-delay:1.2s;
  animation-delay:1.2s
}
