* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  background-color: #020217;
}

.inner {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.root {
  width: 100%;
  height: 100vh;
  min-height: 700px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.st-button {
  display: block;
  border: none;
  padding: 16px 64px;
  margin: 84px auto 0;
  background-color: #29d34e;
  color: white;
  font-size: 28px;
  border-radius: 4px;
  transition: box-shadow 0.3s;
  cursor: pointer;
  outline-width: 0;

  &:hover {
    box-shadow: 0 0 32px 8px #29d34eb9;
  }

  &.secondary-button {
    background-color: #2281f0;

    &:hover {
      box-shadow: 0 0 32px 8px #2281f0b9;
    }
  }
}
