svg
{
  transform: rotate(-90deg);
}
circle
{
  stroke: green;
  fill: none;
  stroke-width: 3px;

}
circle:nth-child(2)
{
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  transition: 0.5s;
}
circle:nth-child(1)
{
  stroke-opacity: 0.3;
}
.slt
{
  stroke-dashoffset: 64!important;
  transition: 0.5s;
}