.square {
  position: absolute;
  width: 150px;
  height: 250px;
  background-color: black;
  border-radius: 4px;
}

.red-dot {
  width: 5px;
  height: 5px;
  background-color: red;
  position: absolute;
}
