/*
Thème name: Campus Chartrons
Author: Félix
Description: none
Version: 0.0.1
Tags: none
*/

@import url("css/header.css");
@import url("css/home.css");
@import url("css/variables.css");
@import url("css/fonts.css");
@import url("css/deal_single.css");
@import url("css/event.css");
@import url("css/chartrons.css");




/* BACKGROUND IMAGE */

.--background_img .menu  .menu_primary{
    color: #fff;
}
.--background_img .menu .sub-active a:after {
    background-image: url(../images/arrow_down--white.svg);
}
.--background_img .menu .btn {
    background: var(--main-color);
    border: 0;
    color: #fff;
}
.--background_img .menu .btn:hover {
    background: var(--btn-hover);
}
.--background_img .hero {
    width: 100%;
    height: 360px;
    background-size: cover;
    background-color: #000;
    padding: 0;
}
.--background_img .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}


/* FAQ */

.faq { 
    background: var(--faq-color-opacity);
    padding: 60px 0;
}
.faq .inner {
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq .labels, .faq .arrow__link {
    color: var(--faq-color);
}
.faq .arrow__link::after {
    background-image: url(../images/arrow.svg);
}

.faq__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 32px;
    margin: 40px 0;
}
.faq__item {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 2px 14px rgba(0, 168, 120, 0.1);
}
.faq__list .labels {
    margin-bottom: 8px;
}
.faq__answer {
    margin-bottom: 12px;
    line-height: 23px;
}



/* DEALS */

/* search bar */
.search_bar { 
    max-width: 615px;
    height: 60px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 16px;
    transform: translateY(-50%);
}
.search_bar .btn {
    width: 27px;
    height: 27px;
    padding: 0;
    line-height: 0;
}
.search_bar .btn svg{
    fill: var(--main-color);
    display: block;
}
.search_bar .btn svg path{ 
    transform: translate(11%, 4%);
}

.search_bar .btn:hover svg {
    fill: var(--main-color-opacity);
}

.search_bar .bar {
    flex: 1;
    height: 100%;
    border: none;
    border-right: 1px solid #E5E5E5;
    padding-left: 8px;
    font-size: 16px;
    color: #9E9E9E;
}
.filters {
    position: relative;
    color: #9E9E9E;
    align-self: flex-start;

}
.filters:hover .filters__title{
    border-bottom: solid 1px #E5E5E5;
}
.filters:hover .filter_list {
    opacity: 1;
    pointer-events: all;
}
.filters__title {
    padding: 0 32px 0 16px;
    line-height: 60px;
    position: relative;
    background: #fff;
    border-radius: 0 8px 8px 0;
}
.filters__title::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: url(../images/arrow_down.svg)center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    top: 50%;
    right: 20px;
}
.filter_list {
    opacity: 0;
    pointer-events: none;
    padding: 12px 0;
    background: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
    border-radius: 0 0 8px 8px;
}
.filter__item {
    padding: 4px 16px;
}
.search_bar select {
    border: none;
    height: 100%;
    cursor: pointer;
    color: #9E9E9E;
    padding: 0 16px;
    font-size: 16px;

}


.good_deals--resume h2 {
    margin-bottom: 70px;
}
.good_deals .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*FOOTER*/

footer {
    width: 100%;
}
.footer__list {
    background: #FCFCFC;    
    padding: 60px 0 100px
}
.footer__list .inner {
    display: flex;
    justify-content: flex-end;
}
.footer__item {
    margin-right: 95px;
}
.footer__item:last-child {
    margin: 0;
}
.footer__item h4 {
    margin-bottom: 16px;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    font-weight: 400;
}
.footer__item li {
    margin-bottom: 10px;
}
.footer__item li a{
    color: #5A5A5A;
    font-size: 16px;
    line-height: 23px;
}
.footer__bottom .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.footer__bottom p {
    margin: 0;
    color: #5A5A5A;
    font-size: 16px;
    line-height: 23px;
}

.social_media img {
    display: block;
}
